body {
    background-color: darkgrey;
    color: white;
    text-align: center;
    padding: 2px;
}

#gallery-wrapper h1 {
    font-family: Asset, cursive;
    font-size: 35px;
    padding: 20px;
    color: #1b4a40;
}


.caption {
    background-color: #28261c;
    text-align: center;
    height: 25px;
    line-height: 25px;
}

img {
    width: 100%;
}

.image {
    float: left;
    width: 32.333%;
    padding: .5%;
    box-sizing: border-box;
}

.six {
    clear: both;
}

.portrait img {
    width: 100%;
}

.landscape img {
    width: 100%;
}

.extra-stuff {
    font-size: 20px;
    float: left;
    width: 32.3333%;
    text-align: center;
    background-color: darkgray;
    color: white;
    padding: 10% 0;
    margin-top: .5%;
    margin-left: .5%;
    border: 2px dotted lightblue;
}

.wide-image .landscape img {
    width: 100%;
    margin-top: 1%;
}

@media screen and (max-width:600px) {
    .image{
        width:95%;
    }
}

@media screen and (max-width: 1000px){
    .extra-stuff{        
       padding: 13% 10%;    
    }
}

@media screen and (max-width: 1000px) and (min-width:601px){
    .image{
        width:45%;
    }
    .four{
        clear:both;
    }
}